<p-panel header="Numero " [toggleable]="true" class="p-2">
    <p>
        Pipes Numeros en Angular
    </p>
</p-panel>


<div class="grid mt-2">

    <div class="col-12 md:col-6 lg:col-4">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            <p class="m-0">
                Saludos {{ name }} en un placer {{gender | i18nSelect: invitacionMap}} a nuestro evento
            </p>

            <p-button (click)="changeClient()" label="Cambiar Cliente" />
        </p-fieldset>
    </div>


    <div class="col-12 md:col-6 lg:col-4">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
            <p class="m-0">
                Actualmente tenemos {{clientes.length | i18nPlural: clientesMap }}
            </p>

            <p-button (click)="deleteclient()" label="Agregar cliente"></p-button>
        </p-fieldset>
    </div>

    <div class="col-12 md:col-6 lg:col-4">
        <p-fieldset legend="Slice pipe" [toggleable]="true">

            <b>Original</b>
            <pre> {{ clientes }}</pre>

            <b>slice:0:2</b>

            <pre>{{ clientes | slice:0:2 }}</pre>

        </p-fieldset>
    </div>


    <div class="col-12 md:col-6 lg:col-4">
        <p-fieldset legend="Keyvalue pipe" [toggleable]="true">
            <p class="m-0">
                Lorem ipsum dolor sit amet...
            </p>
        </p-fieldset>
    </div>


    <div class="col-12 md:col-6 lg:col-4">
        <p-fieldset legend="Async pipe" [toggleable]="true">
            <p class="m-0">
                Lorem ipsum dolor sit amet...
            </p>
        </p-fieldset>
    </div>





</div>