<p-panel header="Numero " [toggleable]="true" class="p-2">
    <p>
        Pipes Numeros en Angular
    </p>
</p-panel>

<div class="grid mt-2">

    <div class="col-12 md:col-6 lg:col-3">
        <p-card header="Ventas Nestas" subheader="Del Presente ano">{{ totalsales | number: '1.2-2' }}</p-card>
    </div>


    <div class="col-12 md:col-6 lg:col-3">
        <p-card header="Ventas Nestas" subheader="Del Presente ano">{{ (totalsales + 12345) | currency: 'GTQ. '
            :'symbol-narrow': '1.4-4' }}</p-card>

    </div>




    <div class="col-12 md:col-6 lg:col-3">
        <p-card header="porsentaje">{{ percentage | percent: '1.2-2' }}</p-card>
    </div>




</div>